---
title: MCI's response to PQ on Safeguards and Measures on Singpass Facial Verification
permalink: /media-centre/parliamentary-questions/pq-on-safeguards-singpass-facial-verification/
date: 2024-02-07
layout: post
description: ""
image: ""
variant: tiptap
---
